<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script>
  window.images = {
    splash: '<%= asset_path("network.jpg") %>',
    cyberpunk: '<%= asset_path("cyberpunk-street.png")  %>',
    bulba: '<%= asset_path("bulba.png") %>'
  }
</script>

<main id="root"></main>
