<% if current_user %>
  <script type="text/javascript">
    window.currentUser = <%= render(
      "api/users/user.json.jbuilder",
      user: current_user
    ).html_safe %>
  </script>
<% end %>

<script>
  window.images = {
    splash: '<%= asset_path("network.jpg") %>',
    logo: '<%= asset_path("logo.png") %>',
    art: '<%= asset_path("art.jpg") %>'
  }
</script>

<main id="root"></main>
