.demo-user {
  border-radius: 5px;
  text-align: center;
  height: 40px;
  color: #FFF;
  border: 1px solid #0099e5;
  background-color: #0099e5;
  margin: 20px 0;
  width: 358px;
  cursor: pointer;
}

.demo-user:hover {
  border: 1px solid #00aaff;
  background-color: #00aaff;
}
