.profile-drop {
  background-color: #FFF;
  color: #000;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  top: 2px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #FFF;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  min-width: 140px;
  left: -55px;
}

.logout-button {
  width: 100%;
  background-color: unset;
  font-size: 14px;
}

.dropdown-content button {
  color: #525558;
  cursor: pointer;
}

.dropdown-content button:hover {
  background-color: #0099e5;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
