.persistent-login {
  color: #000;
  display: inline-block;
  top: 16px;
  position: relative;
  right: 40px;
}

.persistent-login:hover {
  color: #0099e5;
}

.outer-signup-container {
  display: flex;
  justify-content: space-between;
  background-color: #FFF;
  height: 50px;
}

.persistent-signup {
  display: flex;
  justify-content: flex-end;
  background-color: #34bf49;
  margin-right: 40px;
  align-items: center;
  color: #FFF;
  padding: 10px 20px;
  height: 30px;
}

.persistent-signup:hover {
  background-color: #41cb56;
}

.logo-two {
  display: flex;
  margin-left: 40px;
  color: #000;
  font-family: 'Orbitron', sans-serif;
}

.logo-two:hover {
  color: #0099e5;
}
