.flow-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.photo-container {
  display: flex;
  flex-direction: column-reverse;
  position: relative;
  top: 40px;
}

.photo {
  height: 690px;
  width: 690px;
}

.photo-header {
  height: 61px;
  text-align: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #71767a;
  background-color: #FFF;
}

.photo-profile {
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: 8px;
}

.photo-title {
  display: block;
  left: 5px;
  position: relative;
  bottom: 2px;
  font-size: 24px;
  font-weight: bold;
}

.photo-footer {
  display: flex;
  flex-direction: column;
  padding: 6px 0px 12px 16px;
  text-align: left;
  border-top: 1px solid #71767a;
  background-color: #FFF;
}

.photo-list {
  border: 1px solid #71767a;
  margin: 70px 6px 0px;
  background-color: #FFF;
}

.photo-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 12px;
}

.ul-photo-list {
  padding: 0 60px;
  max-width: 1000px;
}

.single-photo-container {
  display: flex;
  justify-content: center;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  background-color: #FFF;
}

.delete-icon {
  color: #F00;
  cursor: pointer;
}

.delete-btn {
  background-color: unset;
  border-color: transparent;
}

.delete-txt {
  color: #F00;
}

.photo-username {
  margin-left: 6px;
  font-family: 'Press Start 2P', cursive;
}

.confirm-yes {
  padding: 6px;
  border: 1px solid #34bf49;
  background-color: #34bf49;
  color: #fff;
  cursor: pointer;
  margin: 18px;
}

.confirm-yes:hover {
  background-color: #5fd370;
}

.confirm-no {
  padding: 6px;
  border: 1px solid #F00;
  background-color: #F00;
  color: #FFF;
  cursor: pointer;
}

.confirm-no:hover {
  background-color: #ff3333;
}

.user-photo-prof {
  width: 600px;
  height: 400px;
}

.photo-list-prof {
  margin: 36px 6px 0px;
}