.flow-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  display: flex;
  flex-direction: column-reverse;
  border-radius: 3px;
  border: 1px solid #EEE;
  margin-bottom: 20px;
  background-color: #FFF;
  margin: 0 210px;
}

.photo {
  display: block;
  background-color: #FFF;
  font-size: 0;
  width: 100%;
  border-bottom: 1px solid #71767a;
}

.photo-header {
  height: 61px;
  text-align: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #71767a;
}

.photo-profile {
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: 8px;
}

.photo-title {
  display: block;
  left: 5px;
  position: relative;
  bottom: 2px;
}

.photo-footer {
  padding: 15px;
  text-align: left;
}

.photo-list {
  display: block;
  border: 1px solid #71767a;
  margin: 30px;
}

.photo-profile-logo {
  margin-left: 20px;
}

.ul-photo-list {
  background-color: #FFF;
  padding: 40px 60px;
}
