.photo-form {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  margin: 0 16px;
  border: 1px solid #34bf49;
  background-color: #34bf49;
  padding: 12px;
  height: 25px;
}

.cloud {
  color: aliceblue;
  position: relative;
  top: 16px;
}

.photo-form:hover {
  background-color: #5fd370;
  border-color: #5fd370;
}

.photo-form-icon {
  display: inline-block;
  cursor: pointer;
}

#my-modal {
  display: none;
}

.modal {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}


.modal-content {
  background-color: #FEFEFE;
  margin: 3.6% auto;
  padding: 20px;
  border: 1px solid #888;
  display: flex;
  flex-direction: column;
  max-width: 1000px;
}

.close {
  color: #AAA;
  float: right;
  font-size: 28px;
  font-weight: bold;
  display: flex;
  justify-content: flex-end;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 50px;
  background-color: #FFF;
  width: 100%;
}

.upload-cloud {
  display: block;
  position: relative;
  text-align: center;
  cursor: pointer;
}

.upload-cloud > p {
  color: aliceblue;
}

.photo-title-outer {
  display: flex;
  justify-content: flex-end;
  padding: 0 18px;
}

.photo-form-title {
  text-align: center;
  padding: 12px;
}

.photo-body-outer {
  display: flex;
  justify-content: flex-end;
  padding: 0 18px 18px 0;
}

.photo-form-body {
  text-align: center;
}

textarea {
  padding: 8px;
  resize: none;
  height: 200px;
}

.form-upload-btn {
  display: flex;
  justify-content: flex-end;
}

.post-modal-content {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-between;
}

.post-modal-left {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-modal-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.photo-form-btn {
  padding: 5px;
  background-color: #34bf49;
  color: #FFF;
  position: relative;
  right: 21px;
  width: 200px;
  height: 30px;
  border-radius: 25px;
}

.photo-form-btn:hover {
  background-color: #5fd370;
}

.inputfile {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputfile + label {
    color: #FFF;
    border: 1px solid #0099e5;
    background-color: #0099e5;
    border-radius: 20px;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    width: 200px;
    padding: 5px;
    position: relative;
    left: 164px;
}

.inputfile:focus + label,
.inputfile + label:hover {
  border: 1px solid #00aaff;
  background-color: #00aaff;
}

.prev-img {
  image-rendering: pixelated;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
}

.prev-img-container {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 500px;
  height: 500px;
  margin-left: 35px;
  padding-top: 14px;
}
