.flow-photo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-container {
  display: flex;
  flex-direction: column-reverse;
}

.photo {
  height: 100%;
  width: 100%;
}

.photo-header {
  height: 61px;
  text-align: left;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-bottom: 1px solid #71767a;
  background-color: #FFF;
}

.photo-profile {
  display: inline-block;
  position: relative;
  left: 20px;
  bottom: 8px;
}

.photo-title {
  display: block;
  left: 5px;
  position: relative;
  bottom: 2px;
}

.photo-footer {
  padding-top: 6px;
  padding-left: 16px;
  height: 80px;
  text-align: left;
  border-top: 1px solid #71767a;
  background-color: #FFF;
}

.photo-list {
  border: 1px solid #71767a;
  margin: 30px;
}

.photo-profile-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 12px;
}

.ul-photo-list {
  padding: 0 60px;
  max-width: 1000px;
}

.single-photo-container {
  max-width: 516px;
  display: flex;
  justify-content: center;
}

.delete-container {
  display: flex;
  justify-content: flex-end;
  background-color: #FFF;
}

.delete-icon {
  color: #F00;
  cursor: pointer;
}

.delete-btn {
  background-color: unset;
  border-color: transparent;
}

.delete-txt {
  color: #F00;
}

.photo-username {
  margin-left: 6px;
}
