.profile {
  background-color: #FFF;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.profile-photos-container {
  display: flex;
  justify-content: center;
  margin: 5% 18%;
}


.profile-photo-list {
  background-color: #FFF;
}

.user-nav-container {
  width: 100%;
}

.profile-body {
  background: #f7f8fa;
  padding: 20px 0;
  position: relative;
  min-height: 300px;
}

.profile-photos {
  margin-top: -10px;
  padding: 0 40px;
  min-height: 325px;
  position: relative;
}

.grid-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}
