.profile {
  background-color: #FFF;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.profile-photos-container {
  display: flex;
  justify-content: center;
  margin: 5% 18%;
}


.profile-photo-list {
  background-color: #FFF;
}

.user-nav-container {
  width: 100%;
}

.profile-body {
  background: #f7f8fa;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  top: 40px;
  margin-bottom: 46px;
}

.profile-pic {
  height: 500px;
  width: 500px;
}
