.session-form-outer {
  background-color: #eee;
}

.session-form-container {
  display: flex;
  flex-direction: column;
  border: 1px solid #000;;
  margin: 75px auto;
  width: 400px;
  padding: 10px;
  height: 531px;
}

.form-type-header {
  display: block;
  font-size: 24px;
  margin: 20px 74px;
  font-family: 'Press Start 2P', cursive;
  color: #525558;
  text-align: center;
}

.session-form-container {
  display: flex;
  background-color: #FFF;
}

.session-form-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 24px;
}

form label {
  color: #71767a;
}

form label input {
  height: 37px;
  padding-left: 6px;
}

input {
  width: 100%;
}

.button-session {
  border-radius: 5px;
  text-align: center;
  width: 316px;
  height: 40px;
  color: #FFF;
  background-color: #34bf49;
  margin: 20px 0;
  width: 358px;
}

.button-session:hover {
  cursor: pointer;
  background-color: #5fd370;
}

input:focus {
  border-color: #0099e5;
}

.session-errors {
  color: #ff4c4c;
  display: flex;
  justify-content: center;
  text-align: center;
}

.username-email {
  display: block;
  height: 70px;
}
