.main-nav {
  display: flex;
}

.nav-left {
  width: 50%;
}

.nav-right {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
}

.splash-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.logo-splash {
  display: flex;
  justify-content: flex-start;
  border: none;
  margin: 10px 0;
  font-family: 'Orbitron', sans-serif;
  padding: 2em;
  color: #FFF;
}

.logo-splash:hover {
  color: #eee;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  padding: 1em;
  color: #525558;
  font-size: 14px;
}

nav .light .right a {
  color: #fff;
}

nav .right a.button {
  color: #FFF;
  font-weight: bold;
}

nav.light .button {
  border-color: #0099e5;
}

div .button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #0099e5;
  background-color: #0099e5;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 10px 25px 10px 30px;
  width: 53px;
  color: #FFF;
}

nav .button:hover {
  background-color: #00aaff;
  border: 1px solid #00aaff;
}

.login-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
}

nav {
  width: 100vw;
}

.header-section {
  margin: 0 0 60px;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-section-headline {
  font-size: 48px;
  text-align: center;
  max-width: 900px;
  padding: 40px 0;
  margin: 0 auto;
  color: #FFF;
}

.header-sec-desc {
  color: #FFF;
  margin: 0 auto;
  max-width: 800px;
  text-shadow: 2px 2px #000;
}

.join-button {
  background-color: #0099e5;
  color: #FFF;
  font-size: 14px;
  border-radius: 100px;
  height: 40px;
  padding: 0px 14px;
  border: 1px solid #0099e5;
  line-height: 44px;
  font-weight: bold;
  cursor: pointer;
  width: 116px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 38px;
  font-family: 'Orbitron', sans-serif;
}

.join-button:hover {
  background-color: #00aaff;
  border: 1px solid #00aaff;
}
