.main-nav {
  display: flex;
  justify-content: space-between;
  height: 50px;
}

.nav-left {
  display: flex;
  align-items: center;
}

.nav-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
}

.unsplash-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.splash-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 167px;
}


.logo-splash {
  margin-left: 40px;
  margin-right: 20px;
  border: none;
  font-family: 'Press Start 2P', cursive;
  color: #FFF;
}

.logo-splash:hover {
  color: #eee;
}

.right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;
  padding: 1em;
  color: #525558;
  font-size: 14px;
}

nav .light .right a {
  color: #fff;
}

nav .right a.button {
  color: #FFF;
  font-weight: bold;
}

nav.light .button {
  border-color: #0099e5;
}

div .button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid #0099e5;
  background-color: #0099e5;
  border-radius: 30px;
  padding: 5px 15px;
  margin: 10px 25px 10px 30px;
  width: 66px;
  color: #FFF;
}

nav .button:hover {
  background-color: #00aaff;
  border: 1px solid #00aaff;
}

.login-link {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #FFF;
}

.login-link:hover {
  color: #0099e5;
}

nav {
  width: 100vw;
}

.header-section {
  margin: 0 0 60px;
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.header-section-headline {
  font-size: 48px;
  text-align: center;
  max-width: 900px;
  padding-top: 18px;
  margin: 0 auto;
  color: #FFF;
  text-shadow: 2px 2px #000;
}

.header-sec-desc {
  padding-top: 4px;
  color: #FFF;
  margin: 0 auto;
  max-width: 800px;
  text-shadow: 2px 2px #000;
}

.join-button {
  background-color: #0099e5;
  color: #FFF;
  font-size: 14px;
  border-radius: 100px;
  height: 40px;
  padding: 0px 14px;
  border: 1px solid #0099e5;
  line-height: 44px;
  font-weight: bold;
  cursor: pointer;
  width: 170px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin: 20px;
  font-family: 'Press Start 2P', cursive;
}

.join-button:hover {
  background-color: #00aaff;
  border: 1px solid #00aaff;
}

footer {
  position: fixed;
  left: 0;
  bottom: 50px;
}

.splash-footer-img {
  margin-top: 4px;
  height: 40px;
  width: 40px;
}

.linked-splash {
  margin: 8px 0px 0px 10px;
}
