.splash-image {
  position: absolute;
  width: 100%;
  z-index: -1;
  background-color: #000;
  height: 100%;
}

.bulba-img {
  position: absolute;
  width: 100px;
  z-index: -1;
  height: 100px;
  float: right;
}
