nav.light {
  display: block;
}

nav .logo {
  height: 50px;
  display: block;
  float: left;
  width: 80px;
  margin: 10px 0;
  background-size: 80px;
  position: relative;
  background: transparent;
  text-decoration: none;
  font-family: 'Orbitron', sans-serif;
}

nav .right {
  padding: 10px 0;
  font-size: 14px;
  color: #525558;
  float: right;
}

nav .light .right a {
  color: #fff;
}

nav .right a {
  margin-left: 30px;
}

nav .right a.button {
  color: #FFF;
  font-weight: bold;
}

nav.light .button {
  border-color: #0099e5;
}

nav .button {
  display: inline-block;
  line-height: 26px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #0099e5;
  padding: 0 15px;
  margin: 10px 0 10px 30px;
  background-color: #0099e5;
}

nav .button:hover {
  background-color: #1ab2ff;
  border: 1px solid #1ab2ff;
}

a {
  background: transparent;
  text-decoration: none;
  outline: none;
}

nav {
  height: 70px;
  width: 100vw;
}
