// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .session-form-box {
//   display: block;
//   margin: 5px 10px;
//   padding: 5px;
//   border: 1px solid #fff;
//   background-color: #00f;
// }

.session-form-container {
  border: 1px solid #eeeff2;
  margin: 75px auto;
  width: 400px;
  padding: 10px;
  height: 531px;
}

.login-header {
  display: block;
  font-size: 24px;
  margin: 20px 74px;
  font-family: 'Orbitron', sans-serif;
  color: #525558;
  text-align: center;
}

.signup-header {
  display: block;
  font-size: 24px;
  margin: 20px 80px;
  font-family: 'Orbitron', sans-serif;
  color: #525558;
  text-align: center;
}

.session-form-box {
  padding: 20px;
  margin-left: 20px;
}

.button-session {
  border-radius: 5px;
  text-align: center;
  width: 316px;
  height: 40px;
  color: #FFF;
  background-color: #34bf49;
  margin: 5px;
}

.button-session:hover {
  cursor: pointer;
  background-color: #5fd370;
}

.session-form-container label {
  display: block;
  margin: 0;
  padding: 0;
}

.username-email {
  display: block;
  border-bottom: 5px;
  color: #71767a;
}

input {
  font-size: 14px;
  padding: 8px 10px;
  color: #525558;
  border: 1px solid rgba(185,193,199,0.5);
  border-radius: 3px;
}

input:focus {
  border-color: #0099e5;
}

.signup_input {
  width: 100%;
  margin: 6px 0px 17px -5px;
}
