<!DOCTYPE html>
<html>
  <head>
    <title>FiveHundredPxClone</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <style>
      @import url('https://fonts.googleapis.com/css?family=Orbitron');
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
